* {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    user-select: none;
    height: 100vh;
    display: grid;
    align-items: center;
}

/* For mobile phones: */
/* @media screen and (min-width: 100px) {
    #slider {
        display: flex;
        justify-content: center;

        height: 35vw;
        position: relative;
        perspective: 1000px;
        transform-style: preserve-3d;
    }
} */


[type=radio] {
    width: auto;
    max-width: 10%;

}


.radiobuttons {
    display: flex;
}

.s123 {
    /* position: relative; */
    margin-top: 40%;

}

#s1 {
    /* margin-left: 34%; */
    border: 0px;
    width: 100%;
    height: 10%;
}

#s2 {

    border: 0px;
    width: 100%;
    height: 10%;
}

#s3 {

    border: 0px;
    width: 100%;
    height: 10%;
}


#slider {
    display: flex;
    justify-content: center;

    height: 35vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#slider label {
    margin: auto;
    width: 30%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
}

/* .image-overlay {
    position: absolute;
    z-index: 10;

    width: 100%;
    height: 100%;

    background-image: linear-gradient(120deg, #eaee44, #33d0ff);
} */

#secondimage {
    color: #33d0ff;
    position: absolute;
    z-index: 2;
}

/* .grayscale {
    filter: brightness(0.25) blur(1px);

} */

#s3:checked~#slide1 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(30%, 0, -200px);
    filter: brightness(0.35) blur(1px);
}


#s2:checked~#slide1,
#s3:checked~#slide2 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(-30%, 0, -200px);
    filter: brightness(0.35) blur(1px);

}

#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
    transform: translate3d(0, 0, 0);

}

#s1:checked~#slide2,
#s2:checked~#slide3 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(30%, 0, -200px);
    filter: brightness(0.35) blur(1px);
}

#s1:checked~#slide3 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(-30%, 0, -200px);
    filter: brightness(0.35) blur(1px);
}

#slide1 {
    background-size: cover;
    background-image:
        /* top, transparent blue */
        linear-gradient(to top,
            #216ebfa2 0%,
            #2649bfc1 40%,
            #00000000 50%,
            #00000000 100%),
        /* my image */
        url(/src/img/img1.png);
}

#slide1::before {
    /* we want to draw a line, so no content needed */
    content: '';

    /* this sets the position and size of the pseudo-element */
    position: absolute;
    bottom: 30%;
    width: 100%;
    height: 2px;
    background-color: rgb(12, 237, 80);

    /* draw behind child elements */
    z-index: -1;

}


/* For tablets: */

@media screen and (max-width: 650px) {

    body {
        background: #eee;
        user-select: none;
        height: 70vh;
        display: grid;
        align-items: center;
    }


    [type=radio] {
        width: auto;
        max-width: 10%;
    }


    .radiobuttons {
        display: flex;
        justify-content: space-between;
    }

    .s123 {
        /* position: relative; */
        margin-top: 80%;


    }

    #s1 {
        /* margin-left: 34%; */
        border: 0px;
        width: 100%;
        height: 15%;
    }

    #s2 {

        border: 0px;
        width: 100%;
        height: 15%;
    }

    #s3 {

        border: 0px;
        width: 100%;
        height: 15%;
    }


    #slider {
        display: flex;
        justify-content: center;

        height: 35vw;
        position: relative;
        perspective: 1000px;
        transform-style: preserve-3d;
    }

    #slider label {
        margin: auto;
        width: 60%;
        height: 200%;
        border-radius: 4px;
        position: absolute;
        z-index: 0;
        left: 0;
        right: 0;
        cursor: pointer;
        transition: transform 0.4s ease;
    }

    /* .image-overlay {
            position: absolute;
            z-index: 10;
        
            width: 100%;
            height: 100%;
        
            background-image: linear-gradient(120deg, #eaee44, #33d0ff);
        } */

    #secondimage {
        color: #33d0ff;
        position: absolute;
        z-index: 2;
    }

    /* .grayscale {
            filter: brightness(0.25) blur(1px);
        
        } */

    #s3:checked~#slide1 {
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
        transform: translate3d(30%, 0, -200px);
        filter: brightness(0.35) blur(1px);
    }


    #s2:checked~#slide1,
    #s3:checked~#slide2 {
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
        transform: translate3d(-30%, 0, -200px);
        filter: brightness(0.35) blur(1px);

    }

    #s1:checked~#slide1,
    #s2:checked~#slide2,
    #s3:checked~#slide3 {
        box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
        transform: translate3d(0, 0, 0);

    }

    #s1:checked~#slide2,
    #s2:checked~#slide3 {
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
        transform: translate3d(30%, 0, -200px);
        filter: brightness(0.35) blur(1px);
    }

    #s1:checked~#slide3 {
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
        transform: translate3d(-30%, 0, -200px);
        filter: brightness(0.35) blur(1px);
    }

    /* #slide1>img {
        object-fit: cover;
        opacity: 1;
    } */


    /* 

    #slide1 {
        background-size: cover;
        background-image:
    
            linear-gradient(rgba(0, 204, 255, 0.45),
                rgba(0, 64, 255, 0.45)),

            url(/src/img/img1.png);
    } */

    #slide1 {
        background-size: cover;
        background-image:
            /* top, transparent blue */
            linear-gradient(to top,
                #216ebfa2 0%,
                #2649bfc1 40%,
                #00000000 50%,
                #00000000 100%),
            /* my image */
            url(/src/img/img1.png);
    }



}

/* #slide1 { */
/* background-color: rgba(23, 148, 216, 0.694);
    background: url(/src/img/img1.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    background: rgba(23, 148, 216, 0.694), url(/src/img/img1.png) no-repeat top center; */
/* background-image: url(/src/img/img1.png);
    background-color: rgba(23, 148, 216, 1);
    background-size: cover;
} */

/*
#arrows label {
    width: 100%;
    height: 100%;
    z-index: 5;


}

#arrow1 {
    width: 10%;
    height: 100%;
    z-index: 5;

    cursor: pointer;
}

#arrow2 {
    width: 10%;
    height: 100%;
    z-index: 5;
    transform: rotate(180deg);

    cursor: pointer;
}

#firstarrow {
    margin-left: 10%;
}

#secondarrow {
    margin-left: 60%;
} */

/* #arrow2:checked {
    transform: translate3d(-20%, 0, -200px);

}

#arrow1:checked~#slide3 {
    transform: translate3d(-20%, 0, -200px);

} */